<?xml version="1.0"?>
<launch>
    <arg name="rviz_path" default="$(find amr_navigation_ros)/launch/rviz.rviz"/>
    <arg name="map_path" default="$(find emcl_ros)/maps/map.yaml"/>

    <include file="$(find a_star_ros)/launch/a_star.launch">
        <arg name="initial_pose_topic" value="/emcl_pose"/>
    </include>
    <include file="$(find dwa_planner)/launch/local_planner.launch">
        <arg name="robot_param" value="$(find amr_navigation_ros)/launch/robot_param.yaml"/>
        <arg name="local_goal" value="/local_goal"/>
        <arg name="v_path_width" value="0.02"/>
    </include>
    <include file="$(find emcl_ros)/launch/emcl.launch"/>
    <include file="$(find local_goal_creator_ros)/launch/local_goal_creator.launch">
        <arg name="robot_pose_topic" value="/emcl_pose"/>
        <arg name="target_dist_to_goal" value="1.0"/>
        <arg name="use_direction_in_path" default="true"/>
    </include>
    <include file="$(find raycast_mapping_ros)/launch/raycast_mapping.launch"/>
    <include file="$(find scan_to_pcl_ros)/launch/scan_to_pcl.launch"/>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_path)"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_path)" output="screen"/>
</launch>
